---
import Header from "../components/Header.astro"
import Navigattion from "../components/Navigation.astro"
import Footer from "../components/Footer.astro"

const blogPosts = (await Astro.glob("../posts/*.md"))
	.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf())
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" /> 
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Rhys' Train of Thought</title>
	</head>
	<body>
		<Header />
		<Navigattion />
		<Footer />
	</body>
</html>
