---
import '../styles/global.css'

const date = new Date();
const fullYear = date.getFullYear();
const name = "Rhys Johns";
---

<style>
    footer {
        width: 60vw;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin: auto;
    }
    p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 0.9em;
    }
</style>

<footer>
    <p>&copy; { fullYear } { name }. All Rights Reserved.</p>
</footer>


