---
import '../styles/global.css'

const githubLink = "https://github.com/SpikePuppet";
const linkedInLink = "https://www.linkedin.com/in/rhysjohns/";
const rssLink = `${Astro.site}rss.xml`
---
<!-- This should be the title and navigation bar -->
<style> 
    header {
        width: 60vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        margin: auto;
        color: #1D1128;
    }
    
    h1 {
        color: #1D1128;
        font-family: 'Fira Sans', sans-serif;
        font-size: 2.2rem;
    }
    
    .social-media {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-right: 8px;
        color: #1D1128;
    }

    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        color:#1D1128;
    }
</style>

<header>
    <a href="/">
        <h1>Rhys' Ramblings</h1>
    </a>
    <div class="social-media">
        <a href={githubLink}><i class="fa-brands fa-github fa-2x"></i></a>
        <a href={linkedInLink}><i class="fa-brands fa-linkedin fa-2x"></i></a>
        <a href={rssLink}><i class="fa-solid fa-square-rss fa-2x"></i></a>       
    </div>
</header>

<script src="https://kit.fontawesome.com/b9cb6112ac.js" crossorigin="anonymous"></script>