---

import '../styles/global.css'
---

<style>
    nav {
        width: 60vw; /* Probably should pull this up one level */
        display: flex;
        gap: 16px;
        justify-content: center;
        align-content: center;
        margin: auto;
        margin-top: 16px;
        background-color: #9381FF;
        color: #5C5D67;
        
    }
</style>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
</nav>