---
import PostPreview from './PostPreview.astro'
import { getCollection } from 'astro:content';


const posts = await getCollection("posts");
const sortedPosts = posts
    .map(post => {
        return {...post.data, slug: post.slug};
    })    
    .sort((a: any, b: any) => {
        return new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf();
    })
    .filter((post: any) => {
        return post.title !== "About Me" && !post.draft;
    });
---

<style>
    content {
        display: flex;
        margin-top: 16px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        gap: 16px;
    }


    content {
        width: 60vw; /* Really should probably should pull this up one level */
        display: flex;
        /* border: 1px solid black; */
        justify-content: center;
        align-content: center;
        margin: auto;
        margin-top: 16px;
    }

</style>

<content>
    {sortedPosts.length === 0 ? <p>No posts yet!</p> : 
        <ul>
            {sortedPosts.map((post: any) => 
                <PostPreview 
                    title={post.title} 
                    publishDate={new Date(post.publishDate).toLocaleDateString("en-US", {
                        year: "numeric",
                        month: "long",
                        day: "numeric"
                    })})
                    author={post.author}
                    description={post.description}
                    slug={post.slug}
                />)}
        </ul>
    }
</content>


