---
const {title, publishDate, author, description, slug} = Astro.props;
---

<style>
    /* TODO: We need to figure out a way to make sure this is loaded correctly at first from the global style,
    instead of having to bring it in here. It's fine for now though. */
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=IBM+Plex+Sans:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM Plex Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    /*
    *   This really cool underline effect was taken from:
    *   https://tobiasahlin.com/blog/css-trick-animating-link-underlines/
    */
    a {
        position: relative;
        color: #FBBF24;
        text-decoration: none;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 1.5rem;
        font-weight: bold;
    }

    a:hover {
        color: #FBBF24
    }

    a::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000;
        transform: scaleX(0);
        transition: transform 0.3s ease;
        }

    a:hover::before {
        transform: scaleX(1);
    }

    p {
        font-size: 0.95em;
    }

    
</style>

<li>
    <a href={`/posts/${slug}/`}>{title}</a>
    <p>By: {author}</p>
    <time>{new Date(publishDate).toLocaleString()}</time>
    <p>{description}</p>
</li>